<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thehyundai.thepet.domain.backoffice.member.BackOfficeMemberMapper">

    <select id="selectAllMember" parameterType="Integer" resultType="BackOfficeMemberVO">
        SELECT id, name, email, img_url, address, nickname, club_heendy_yn, social_id, phone_number, billingkey
        FROM member
        OFFSET #{page} ROWS FETCH NEXT 20 ROWS ONLY
    </select>

    <select id="selectAllDateMember" parameterType="MemberRequestVO" resultType="BackOfficeMemberVO">
        SELECT id, name, email, img_url, address, nickname, club_heendy_yn, social_id, phone_number, billingkey
        FROM member
        WHERE created_at BETWEEN TO_DATE(#{startDate}, 'YYYY/MM/DD') AND TO_DATE(#{endDate}, 'YYYY/MM/DD')
        OFFSET #{page} ROWS FETCH NEXT 20 ROWS ONLY
    </select>

    <select id="selectHeendyMember" parameterType="Integer" resultType="BackOfficeMemberVO">
        SELECT id, name, email, img_url, address, nickname, club_heendy_yn, social_id, phone_number, billingkey
        FROM member
        WHERE club_heendy_yn = 'Y'
        OFFSET #{page} ROWS FETCH NEXT 20 ROWS ONLY
    </select>

    <select id="selectHeendyDateMember" parameterType="MemberRequestVO" resultType="BackOfficeMemberVO">
        SELECT id, name, email, img_url, address, nickname, club_heendy_yn, social_id, phone_number, billingkey
        FROM member
        WHERE club_heendy_yn = 'Y'
        AND created_at BETWEEN TO_DATE(#{startDate}, 'YYYY/MM/DD') AND TO_DATE(#{endDate}, 'YYYY/MM/DD')
        OFFSET #{page} ROWS FETCH NEXT 20 ROWS ONLY
    </select>

    <select id="selectSubscribeMember" parameterType="Integer" resultType="BackOfficeMemberVO">
        SELECT m.id, m.name, m.email, m.address, m.nickname, m.club_heendy_yn, phone_number, s.start_date, s.end_date
        FROM member m
        LEFT JOIN subscription s
        on m.id = s.member_id
        WHERE s.curation_yn = 'Y'
        OFFSET #{page} ROWS FETCH NEXT 20 ROWS ONLY
    </select>

    <select id="selectSubscribeDateMember" parameterType="MemberRequestVO" resultType="BackOfficeMemberVO">
        SELECT m.id, m.name, m.email, m.address, m.nickname, m.club_heendy_yn, phone_number, s.start_date, s.end_date
        FROM member m
        LEFT JOIN subscription s
        on m.id = s.member_id
        WHERE s.curation_yn = 'Y'
        AND created_at BETWEEN TO_DATE(#{startDate}, 'YYYY/MM/DD') AND TO_DATE(#{endDate}, 'YYYY/MM/DD')
        OFFSET #{page} ROWS FETCH NEXT 20 ROWS ONLY
    </select>

    <select id="selectDeliveryMember" parameterType="Integer" resultType="BackOfficeMemberVO">
        SELECT m.id, m.name, m.email, m.address, m.nickname, m.club_heendy_yn, phone_number, s.start_date, s.end_date, s.product_id
        FROM member m
        LEFT JOIN subscription s
        on m.id = s.member_id
        WHERE s.curation_yn = 'N'
        OFFSET #{page} ROWS FETCH NEXT 20 ROWS ONLY
    </select>

    <select id="selectDeliveryDateMember" parameterType="MemberRequestVO" resultType="BackOfficeMemberVO">
        SELECT m.id, m.name, m.email, m.address, m.nickname, m.club_heendy_yn, phone_number, s.start_date, s.end_date, s.product_id
        FROM member m
        LEFT JOIN subscription s
        on m.id = s.member_id
        WHERE s.curation_yn = 'N'
        AND created_at BETWEEN TO_DATE(#{startDate}, 'YYYY/MM/DD') AND TO_DATE(#{endDate}, 'YYYY/MM/DD')
        OFFSET #{page} ROWS FETCH NEXT 20 ROWS ONLY
    </select>

    <select id="selectAllMemberCount" resultType="Integer">
        SELECT COUNT(*) FROM member
    </select>

    <select id="selectAllDateMemberCount" parameterType="MemberRequestVO" resultType="Integer">
        SELECT COUNT(*) FROM member
        WHERE created_at BETWEEN TO_DATE(#{startDate}, 'YYYY/MM/DD') AND TO_DATE(#{endDate}, 'YYYY/MM/DD')
    </select>

    <select id="selectHeendyMemberCount" resultType="Integer">
        SELECT COUNT(*)
        FROM member
        WHERE club_heendy_yn = 'Y'
    </select>

    <select id="selectHeendyDateMemberCount" parameterType="MemberRequestVO" resultType="Integer">
        SELECT COUNT(*)
        FROM member
        WHERE club_heendy_yn = 'Y'
        AND created_at BETWEEN TO_DATE(#{startDate}, 'YYYY/MM/DD') AND TO_DATE(#{endDate}, 'YYYY/MM/DD')
    </select>

    <select id="selectSubscribeMemberCount" resultType="Integer">
        SELECT COUNT(*)
        FROM member m
        LEFT JOIN subscription s
        on m.id = s.member_id
        WHERE s.curation_yn = 'Y'
    </select>

    <select id="selectSubscribeDateMemberCount" parameterType="MemberRequestVO" resultType="Integer">
        SELECT COUNT(*)
        FROM member m
        LEFT JOIN subscription s
        on m.id = s.member_id
        WHERE s.curation_yn = 'Y'
        AND created_at BETWEEN TO_DATE(#{startDate}, 'YYYY/MM/DD') AND TO_DATE(#{endDate}, 'YYYY/MM/DD')
    </select>

    <select id="selectDeliveryMemberCount" resultType="BackOfficeMemberVO">
        SELECT COUNT(*)
        FROM member m
        LEFT JOIN subscription s
        on m.id = s.member_id
        WHERE s.curation_yn = 'N'
    </select>

    <select id="selectDeliveryDateMemberCount" parameterType="MemberRequestVO" resultType="Integer">
        SELECT COUNT(*)
        FROM member m
        LEFT JOIN subscription s
        on m.id = s.member_id
        WHERE s.curation_yn = 'N'
        AND created_at BETWEEN TO_DATE(#{startDate}, 'YYYY/MM/DD') AND TO_DATE(#{endDate}, 'YYYY/MM/DD')
    </select>

</mapper>