<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thehyundai.thepet.domain.backoffice.member.BackOfficeMemberMapper">

    <select id="selectAllMember" resultType="BackOfficeMemberVO">
        SELECT id, name, email, img_url, address, nickname, club_heendy_yn, social_id, phone_number, billingkey
        FROM member
    </select>

    <select id="selectHeendyMember" resultType="BackOfficeMemberVO">
        SELECT id, name, email, img_url, address, nickname, club_heendy_yn, social_id, phone_number, billingkey
        FROM member
        WHERE club_heendy_yn = 'Y'
    </select>

    <select id="selectSubscribeMember" resultType="BackOfficeMemberVO">
        SELECT m.id, m.name, m.email, m.address, m.nickname, m.club_heendy_yn, phone_number, s.start_date, s.end_date
        FROM member m
        LEFT JOIN subscription s
        on m.id = s.member_id
        WHERE s.curation_yn = 'Y'
    </select>

    <select id="selectDeliveryMember" resultType="BackOfficeMemberVO">
        SELECT m.id, m.name, m.email, m.address, m.nickname, m.club_heendy_yn, phone_number, s.start_date, s.end_date, s.product_id
        FROM member m
        LEFT JOIN subscription s
        on m.id = s.member_id
        WHERE s.curation_yn = 'N'
    </select>

</mapper>