<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thehyundai.thepet.domain.cart.CartMapper">


    <insert id="insertCart" parameterType="CartVO">
        INSERT INTO CART (CNT, MEMBER_ID, PRODUCT_ID, CREATED_AT)
        VALUES (#{cnt}, #{memberId}, #{productId}, sysdate)
    </insert>

    <update id="updateCart" parameterType="CartVO">
        UPDATE CART
        SET CNT = #{cnt}
        WHERE ID = #{id}
    </update>

    <update id="deleteCart" parameterType="CartVO">
        UPDATE CART
        SET DELETE_YN = 'Y'
        WHERE ID = #{id}
    </update>

    <select id="getCart" resultType="CartVO">
        SELECT c.CNT, c.MEMBER_ID, c.PRODUCT_ID, p.NAME, p.PRICE, p.MAIN_IMG_URL
        FROM CART c
                 JOIN PRODUCT p ON c.PRODUCT_ID = p.ID
        WHERE c.MEMBER_ID = #{memberId} and c.DELETE_YN = 'N'
    </select>

</mapper>