<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thehyundai.thepet.domain.subscription.CurationMapper">

    <insert id="saveCuration" parameterType="CurationVO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO CURATION
            (
             PAYMENT_DATE,
             PRODUCT1_ID,
             PRODUCT2_ID,
             PRODUCT3_ID,
             IMG_URL,
             PRICE,
             NAME,
             THUMBNAIL_IMG_URL
             )
       VALUES
           (
            #{paymentDate},
            #{product1Id},
            #{product2Id},
            #{product3Id},
            #{imgUrl},
            #{price},
            #{name},
            #{thumbnailImgUrl}
            )
    </insert>

    <select id="findCurationById" parameterType="String" resultType="CurationVO">
        SELECT ID,
               PAYMENT_DATE,
               PRODUCT1_ID,
               PRODUCT2_ID,
               PRODUCT3_ID,
               PRICE,
               NAME,
               IMG_URL,
               THUMBNAIL_IMG_URL
        FROM CURATION
        WHERE ID = #{id}
    </select>

    <select id="findCurationByPaymentDate" parameterType="java.time.LocalDate" resultType="CurationVO">
        SELECT ID,
               PAYMENT_DATE,
               PRODUCT1_ID,
               PRODUCT2_ID,
               PRODUCT3_ID,
               PRICE,
               NAME,
               IMG_URL,
               THUMBNAIL_IMG_URL
        FROM CURATION
        WHERE PAYMENT_DATE = #{paymentDate}
    </select>

    <select id="findCurationByStartingMonth" parameterType="java.time.LocalDate" resultType="CurationVO">
        SELECT ID,
               PAYMENT_DATE,
               PRODUCT1_ID,
               PRODUCT2_ID,
               PRODUCT3_ID,
               PRICE,
               NAME,
               IMG_URL,
               THUMBNAIL_IMG_URL
        FROM CURATION
        WHERE PAYMENT_DATE >= #{paymentDate}
        ORDER BY PAYMENT_DATE DESC
    </select>

</mapper>