<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thehyundai.thepet.domain.backoffice.event.EventLogMapper">
    <insert id="insertEventLog" parameterType="EventLogVO">
        INSERT INTO EVENT_LOG (page, element, item_id, is_clicked, created_at)
            VALUES (#{page}, #{element}, #{itemId}, #{isClicked}, TO_TIMESTAMP(TO_CHAR(CURRENT_TIMESTAMP, 'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS'))
    </insert>
</mapper>