<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thehyundai.thepet.global.event.EventLogMapper">
    <insert id="insertEventLog" parameterType="EventLogVO">
        INSERT INTO MEMBER_EVENT_LOG (event_page, event, event_success, reason, member_id)
            VALUES (#{eventPage}, #{event}, #{eventSuccess}, #{reason}, #{memberId})
    </insert>
</mapper>