<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thehyundai.thepet.domain.heendycar.HcReservationMapper">

    <insert id="saveReservation" parameterType="HcReservationVO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO HEENDY_CAR_RESERVATION
            (
             BRANCH_CODE,
             MEMBER_ID,
             RESERVATION_TIME,
             CREATED_AT
             )
        VALUES
            (
             #{branchCode},
             #{memberId},
             #{reservationTime},
             #{createdAt}
             )
    </insert>

    <select id="findReservationById" resultType="HcReservationVO">
        SELECT ID,
               BRANCH_CODE,
               MEMBER_ID,
               RESERVATION_TIME,
               CREATED_AT,
               PICKUP_YN,
               CANCEL_YN,
               RETURN_YN
        FROM HEENDY_CAR_RESERVATION
        WHERE ID = #{reservationId}
    </select>

    <update id="updateReservation" parameterType="HcReservationVO">
        UPDATE HEENDY_CAR_RESERVATION
            SET CANCEL_YN = #{cancelYn}
        WHERE ID = #{id}
    </update>

</mapper>