<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thehyundai.thepet.domain.heendycar.HcReservationMapper">
    <select id="getSerialNumber" parameterType="String" resultType="String">
        SELECT hc.serial_number
        FROM Heendy_car hc
        WHERE hc.branch_code = #{branchCode}
          AND NOT EXISTS (
            SELECT 1
            FROM Heendy_car_reservation hcr
            WHERE hc.serial_number = hcr.serial_number
              AND (hcr.return_yn = 'N' AND hcr.cancel_yn = 'N')
        )
          AND ROWNUM = 1

    </select>
    <insert id="saveReservation" parameterType="HcReservationVO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO HEENDY_CAR_RESERVATION
        (
            BRANCH_CODE,
            MEMBER_ID,
            RESERVATION_TIME,
            CREATED_AT,
            SERIAL_NUMBER
        )
        VALUES(
            #{branchCode},
            #{memberId},
            #{reservationTime},
            #{createdAt},
            #{serialNumber}
        )
    </insert>


    <select id="findReservationById" resultType="HcReservationVO">
        SELECT ID,
               BRANCH_CODE,
               MEMBER_ID,
               RESERVATION_TIME,
               CREATED_AT,
               PICKUP_YN,
               CANCEL_YN,
               RETURN_YN
        FROM HEENDY_CAR_RESERVATION
        WHERE ID = #{reservationId}
    </select>

    <update id="updateReservation" parameterType="HcReservationVO">
        UPDATE HEENDY_CAR_RESERVATION
            SET CANCEL_YN = #{cancelYn}
        WHERE ID = #{id}
    </update>

    <select id="findBranchReservation" parameterType="String" resultType="HcReservationVO">
        SELECT r.id,r.member_id,r.serial_number, m.name, m.phone_number, r.reservation_time, r.pickup_yn, r.cancel_yn, r.return_yn
        FROM HEENDY_CAR_RESERVATION r
        JOIN MEMBER m ON r.member_id = m.id
        WHERE r.branch_code = #{branchCode}
        ORDER BY r.reservation_time desc

    </select>


    <select id="showAllMyReservations" parameterType="String">
        SELECT r.ID,
               r.RESERVATION_TIME,
               r.CREATED_AT,
               r.BRANCH_CODE,
               r.CANCEL_YN,
               b.IMG_URL AS branchImgUrl
        FROM HEENDY_CAR_RESERVATION r
        JOIN BRANCH_HEENDY_CAR b
            ON r.BRANCH_CODE = b.BRANCH_CODE
        WHERE r.MEMBER_ID = #{memberId}
        ORDER BY r.RESERVATION_TIME desc
    </select>

    <update id="cancelReservation" parameterType="String">
        UPDATE HEENDY_CAR_RESERVATION
        SET CANCEL_YN = 'Y'
        WHERE ID = #{reservationId}
    </update>

    <select id="findPresentReservation" parameterType="String" resultType="HcReservationVO">
        SELECT ID,
               BRANCH_CODE,
               MEMBER_ID,
               RESERVATION_TIME
        FROM HEENDY_CAR_RESERVATION
        WHERE MEMBER_ID = #{memberId}
          AND TRUNC(RESERVATION_TIME) = TRUNC(SYSDATE)
          AND CANCEL_YN = 'N'
    </select>


    <update id="changePickUp" parameterType="HcReservationVO">
        UPDATE HEENDY_CAR_RESERVATION
        SET PICKUP_YN = #{pickupYn}
        WHERE ID = #{id}
    </update>

    <update id="changeCancel" parameterType="HcReservationVO">
        UPDATE HEENDY_CAR_RESERVATION
        SET CANCEL_YN = #{cancelYn}
        WHERE ID = #{id}
    </update>

    <update id="changeReturn" parameterType="HcReservationVO">
        UPDATE HEENDY_CAR_RESERVATION
        SET RETURN_YN = #{returnYn}
        WHERE ID = #{id}
    </update>
</mapper>