<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thehyundai.thepet.heendycar.HeendyCarMapper">

    <select id="findAllBranches" resultType="BranchHeendyCarVO">
        SELECT b.*, cm.name AS name
            FROM BRANCH_HEENDY_CAR b
                LEFT JOIN CM_CODE cm ON b.BRANCH_CODE = cm.code
    </select>

</mapper>