<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thehyundai.thepet.domain.member.MemberMapper">

    <select id="findMemberById" parameterType="String" resultType="MemberVO">
        SELECT * FROM MEMBER WHERE ID = #{id}
    </select>

    <select id="findMemberBySocialId" parameterType="long" resultType="MemberVO">
        SELECT * FROM member
        WHERE social_id = #{socialId}
    </select>
  
    <insert id="register" parameterType="MemberVO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO member (name, email, img_url, nickname, social_id) VALUES (#{name}, #{email}, #{imgUrl}, #{nickname}, #{socialId})
    </insert>

    <select id="selectAllMember" resultType="MemberVO">
        SELECT id, name, email, img_url, address, nickname, club_heendy_yn, social_id, phone_number, billingkey
        FROM member
    </select>

    <select id="selectHeendyMember" resultType="MemberVO">
        SELECT id, name, email, img_url, address, nickname, club_heendy_yn, social_id, phone_number, billingkey
        FROM member
        WHERE club_heendy_yn = 'Y'
    </select>

</mapper>