<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thehyundai.thepet.domain.mypet.pet.PetMapper">

    <insert id="registerClub" parameterType="PetVO">
            CALL InsertPetWithAllergies
            (#{petImgUrl},#{name},#{birth},#{memberId},#{favoriteFoodIngredients},#{feedMainImgUrl},#{mbti},#{breedCode},#{animalTypeCode},#{allergyCode},#{feedDescImgUrl},#{sizeCode},#{favoriteProteinCode})
            <selectKey keyProperty="id" resultType="String" order="AFTER">
                SELECT PET_SEQ.CURRVAL FROM DUAL
            </selectKey>
    </insert>

    <update id="updateFeed" parameterType="PetVO">
        UPDATE PET
        SET
            feed_main_img_url = #{feedMainImgUrl},
            feed_desc_img_url = #{feedDescImgUrl},
            favorite_food_ingredients = #{favoriteFoodIngredients},
            favorite_protein_code = #{favoriteProteinCode}
        WHERE id = #{id}
    </update>

    <select id="myPet" parameterType="String" resultType="PetVO">
        SELECT *
        FROM PET
        WHERE member_id = #{memberId}
    </select>

    <select id="findPetsWithAllergiesByMemberId" parameterType="String" resultMap="PetWithAllergies">
        SELECT p.*, a.protein_code
        FROM PET p
             LEFT JOIN ALLERGY a ON p.id = a.pet_id
        WHERE p.MEMBER_ID = #{memberId}
    </select>

    <select id="findPetWithAllergiesById" parameterType="String" resultMap="PetWithAllergies">
        SELECT p.*, a.protein_code
        FROM PET p
             LEFT JOIN ALLERGY a ON p.id = a.pet_id
        WHERE p.ID = #{id}
    </select>

    <resultMap id="PetWithAllergies" type="PetVO">
        <id property="id" column="id" />
        <result property="photo" column="photo" />
        <result property="name" column="name" />
        <result property="birth" column="birth" />
        <result property="memberId" column="member_id" />
        <result property="favoriteFoodIngredients" column="favorite_food_ingredients" />
        <result property="imgUrl" column="img_url" />
        <result property="mbti" column="mbti" />
        <result property="breedCode" column="breed_code" />
        <result property="animalTypeCode" column="animal_type_code" />
        <result property="favoriteProteinCode" column="favorite_protein_code" />
        <result property="sizeCode" column="size_code" />
        <collection property="allergies" javaType="java.util.List" ofType="String">
            <result property="proteinCode" column="protein_code" />
        </collection>
    </resultMap>

</mapper>