<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thehyundai.thepet.domain.product.ProductMapper">

    <select id="selectProducts" parameterType="int" resultType="ProductVO">
        SELECT * FROM PRODUCT
        OFFSET #{page} ROWS FETCH NEXT 20 ROWS ONLY
    </select>

    <select id="selectProductDetail" parameterType="int" resultType="ProductVO">
        SELECT * FROM PRODUCT
        WHERE id = #{id}
    </select>

    <select id="findProductById" parameterType="Integer" resultType="ProductVO">
        SELECT * FROM PRODUCT WHERE id = #{id}
    </select>


    <select id="selectProductCount" parameterType="HashMap" resultType="int">
        SELECT COUNT(*) FROM PRODUCT
        WHERE ANIMAL_TYPE_CODE IN
        <foreach collection="animal_list" item="item" open="(" close=")" separator=", ">
            #{item}
        </foreach>
        AND sub_category_code IN
        <foreach collection="product_sub_list" item="item" open="(" close=")" separator=", ">
            #{item}
        </foreach>
        AND protein_code IN
        <foreach collection="protein_list" item="item" open="(" close=")" separator=", ">
            #{item}
        </foreach>
    </select>

    <select id="findProductsBySimplePetInfo" parameterType="PetVO" resultType="ProductVO">
        SELECT * FROM PRODUCT
        WHERE SUB_CATEGORY_CODE = #{ageCode, jdbcType=VARCHAR} OR PROTEIN_CODE = #{favoriteProteinCode}
    </select>

    <select id="findProductsByFavoriteProteinCode" parameterType="String" resultType="ProductVO">
        SELECT * FROM PRODUCT
        WHERE PROTEIN_CODE = #{favoriteProteinCode}
    </select>

    <select id="findProductsByAgeCode" parameterType="String" resultType="ProductVO">
        SELECT * FROM PRODUCT
        WHERE SUB_CATEGORY_CODE = #{ageCmCode, jdbcType=VARCHAR}
    </select>

    <select id="findProductsByPetInfoAndOrderLog" parameterType="PetVO" resultType="ProductVO">
        SELECT P.*, COUNT(*) AS ORDERED_CNT
        FROM
            MEMBER M
                JOIN
            PET PT ON M.ID = PT.MEMBER_ID
                JOIN
            "ORDER" O ON M.ID = O.MEMBER_ID
                JOIN
            ORDER_DETAIL OD ON O.ID = OD.ORDER_ID
                JOIN
            PRODUCT P ON OD.PRODUCT_ID = P.ID
        WHERE PT.BREED_CODE = #{breedCode} AND MONTHS_BETWEEN( PT.BIRTH, #{birth} ) BETWEEN -12 AND 12
        GROUP BY P.ID, P.NAME, PRICE, MAIN_IMG_URL, DESC_IMG_URL, INGREDIENTS, MAIN_CATEGORY_CODE, SUB_CATEGORY_CODE, P.ANIMAL_TYPE_CODE, PROTEIN_CODE
        ORDER BY ORDERED_CNT DESC
    </select>

    <select id="findProductsByMbti" parameterType="String" resultType="ProductVO">
        SELECT P.ID AS ID, P.NAME AS NAME, COUNT(*) AS ORDERED_CNT
        FROM
            MEMBER M
                JOIN
            PET PT ON M.ID = PT.MEMBER_ID
                JOIN
            "ORDER" O ON M.ID = O.MEMBER_ID
                JOIN
            ORDER_DETAIL OD ON O.ID = OD.ORDER_ID
                JOIN
            PRODUCT P ON OD.PRODUCT_ID = P.ID
        WHERE PT.MBTI = UPPER(#{mbtiType})
        GROUP BY P.ID, P.NAME
        ORDER BY ORDERED_CNT DESC
    </select>

    <select id="filterProduct" parameterType="HashMap" resultType="ProductVO">
        SELECT * FROM PRODUCT
        WHERE ANIMAL_TYPE_CODE IN
        <foreach collection="animal_list" item="item" open="(" close=")" separator=", ">
            #{item}
        </foreach>
        AND sub_category_code IN
        <foreach collection="product_sub_list" item="item" open="(" close=")" separator=", ">
            #{item}
        </foreach>
        AND protein_code IN
        <foreach collection="protein_list" item="item" open="(" close=")" separator=", ">
            #{item}
        </foreach>
        OFFSET #{page} ROWS FETCH NEXT 20 ROWS ONLY
    </select>

</mapper>