<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thehyundai.thepet.domain.product.ProductMapper">

    <select id="findProductsByCategoryAndKeyword" parameterType="Map" resultType="ProductVO">
        SELECT ID,
               NAME,
               PRICE,
               MAIN_IMG_URL,
               DESC_IMG_URL,
               INGREDIENTS,
               MAIN_CATEGORY_CODE,
               SUB_CATEGORY_CODE,
               ANIMAL_TYPE_CODE,
               PROTEIN_CODE
        FROM PRODUCT
        WHERE MAIN_CATEGORY_CODE = #{main-category}
            AND (NAME LIKE '%' || #{keyword} || '%')
    </select>

    <insert id="saveGeneralProduct" parameterType="ProductVO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO PRODUCT
            (
             NAME,
             PRICE,
             MAIN_IMG_URL,
             DESC_IMG_URL,
             INGREDIENTS,
             MAIN_CATEGORY_CODE,
             SUB_CATEGORY_CODE,
             ANIMAL_TYPE_CODE,
             PROTEIN_CODE)
        VALUES
            (
             #{name},
             #{price},
             #{mainImgUrl},
             #{descImgUrl},
             #{ingredients},
             #{mainCategoryCode},
             #{subCategoryCode},
             #{animalTypeCode},
             #{proteinCode}
             )
    </insert>

    <select id="selectProducts" parameterType="int" resultType="ProductVO">
        SELECT ID,
               NAME,
               PRICE,
               MAIN_IMG_URL,
               DESC_IMG_URL,
               INGREDIENTS,
               MAIN_CATEGORY_CODE,
               SUB_CATEGORY_CODE,
               ANIMAL_TYPE_CODE,
               PROTEIN_CODE
        FROM PRODUCT
        OFFSET #{page} ROWS FETCH NEXT 20 ROWS ONLY
    </select>

    <select id="selectProductDetail" parameterType="String" resultType="ProductVO">
        SELECT ID,
               NAME,
               PRICE,
               MAIN_IMG_URL,
               DESC_IMG_URL,
               INGREDIENTS,
               MAIN_CATEGORY_CODE,
               SUB_CATEGORY_CODE,
               ANIMAL_TYPE_CODE,
               PROTEIN_CODE
        FROM PRODUCT
        WHERE ID = #{id}
    </select>

    <select id="findProductById" parameterType="String" resultType="ProductVO">
        SELECT ID,
               NAME,
               PRICE,
               MAIN_IMG_URL,
               DESC_IMG_URL,
               INGREDIENTS,
               MAIN_CATEGORY_CODE,
               SUB_CATEGORY_CODE,
               ANIMAL_TYPE_CODE,
               PROTEIN_CODE
        FROM PRODUCT
        WHERE ID = #{id}
    </select>

    <select id="findProductsByFavoriteProteinCode" parameterType="String" resultType="ProductVO">
        SELECT ID,
               NAME,
               PRICE,
               MAIN_IMG_URL,
               DESC_IMG_URL,
               INGREDIENTS,
               MAIN_CATEGORY_CODE,
               SUB_CATEGORY_CODE,
               ANIMAL_TYPE_CODE,
               PROTEIN_CODE
        FROM PRODUCT
        WHERE PROTEIN_CODE = #{favoriteProteinCode}
    </select>

    <select id="findProductsByAgeCode" parameterType="String" resultType="ProductVO">
        SELECT ID,
               NAME,
               PRICE,
               MAIN_IMG_URL,
               DESC_IMG_URL,
               INGREDIENTS,
               MAIN_CATEGORY_CODE,
               SUB_CATEGORY_CODE,
               ANIMAL_TYPE_CODE,
               PROTEIN_CODE
        FROM PRODUCT
        WHERE SUB_CATEGORY_CODE = #{ageCmCode, jdbcType=VARCHAR}
    </select>

    <select id="findProductsByPetInfoAndOrderLog" parameterType="PetVO" resultType="ProductVO">
        SELECT
            p.ID,
            p.NAME,
            p.PRICE,
            p.MAIN_IMG_URL,
            COUNT(*) AS ORDERED_CNT
        FROM
            MEMBER m
                JOIN
            PET pt ON m.ID = pt.MEMBER_ID
                JOIN
            "ORDER" o ON m.ID = o.MEMBER_ID
                JOIN
            ORDER_DETAIL od ON o.ID = od.ORDER_ID
                JOIN
            PRODUCT p ON od.PRODUCT_ID = p.ID
        WHERE
            pt.BREED_CODE = #{breedCode}
            AND MONTHS_BETWEEN(pt.BIRTH, #{birth}) BETWEEN -12 AND 12
        GROUP BY
            p.ID, p.NAME, p.PRICE, p.MAIN_IMG_URL
        ORDER BY
            ORDERED_CNT DESC
    </select>

    <select id="findProductsByMbti" parameterType="String" resultType="ProductVO">
        SELECT
            p.ID,
            p.NAME,
            p.PRICE,
            p.MAIN_IMG_URL,
            COUNT(*) AS ORDERED_CNT
        FROM
            MEMBER m
                JOIN
            PET pt ON m.ID = pt.MEMBER_ID
                JOIN
            "ORDER" o ON m.ID = o.MEMBER_ID
                JOIN
            ORDER_DETAIL od ON o.ID = od.ORDER_ID
                JOIN
            PRODUCT p ON od.PRODUCT_ID = p.ID
        WHERE
            pt.MBTI = #{mbtiType}
        GROUP BY
            p.ID, p.NAME, p.PRICE, p.MAIN_IMG_URL
        ORDER BY
            ORDERED_CNT DESC
    </select>


    <select id="filterProduct" parameterType="FilterVO" resultType="ProductVO">
        SELECT ID,
               NAME,
               PRICE,
               MAIN_IMG_URL
        FROM PRODUCT
        <where>
            <if test="mainFilter != ''">
                MAIN_CATEGORY_CODE = #{mainFilter}
            </if>
            <if test="subFilter != null and subFilter.size() > 0">
                AND SUB_CATEGORY_CODE IN
                <foreach collection="subFilter" item="item" open="(" close=")" separator=", ">
                    #{item}
                </foreach>
            </if>
            <if test="proteinFilter != null and proteinFilter.size() > 0">
                AND PROTEIN_CODE IN
                <foreach collection="proteinFilter" item="item" open="(" close=")" separator=", ">
                    #{item}
                </foreach>
            </if>
        </where>
        OFFSET #{page} ROWS FETCH NEXT 20 ROWS ONLY
    </select>

    <select id="selectProductCount" parameterType="FilterVO" resultType="int">
        SELECT COUNT(*) FROM PRODUCT
        <where>
            <if test="mainFilter != ''">
                MAIN_CATEGORY_CODE = #{mainFilter}
            </if>
            <if test="subFilter != null and subFilter.size() > 0">
                AND SUB_CATEGORY_CODE IN
                <foreach collection="subFilter" item="item" open="(" close=")" separator=", ">
                    #{item}
                </foreach>
            </if>
            <if test="proteinFilter != null and proteinFilter.size() > 0">
                AND PROTEIN_CODE IN
                <foreach collection="proteinFilter" item="item" open="(" close=")" separator=", ">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>