<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thehyundai.thepet.domain.subscription.SubsMapper">

    <insert id="saveCurationSubscription" useGeneratedKeys="true" parameterType="SubscriptionVO" keyProperty="id" keyColumn="id">
        INSERT INTO SUBSCRIPTION
            (
             START_DATE,
             END_DATE,
             MEMBER_ID,
             CURATION_YN
             )
        VALUES
            (
             #{startDate},
             #{endDate},
             #{memberId},
             #{curationYn}
             )
    </insert>


    <insert id="saveProductSubscription" useGeneratedKeys="true" parameterType="SubscriptionVO" keyProperty="id" keyColumn="id">
        INSERT INTO SUBSCRIPTION
            (
             START_DATE,
             END_DATE,
             MEMBER_ID,
             PRODUCT_ID,
             CURATION_YN
             )
        VALUES
            (
             #{startDate},
             #{endDate},
             #{memberId},
             #{productId},
             #{curationYn}
             )
    </insert>

    <select id="findCurationSubscriptionByMemberId" parameterType="SubscriptionVO">
        SELECT ID,
               START_DATE,
               END_DATE,
               MEMBER_ID,
               CURATION_YN
        FROM SUBSCRIPTION
        WHERE MEMBER_ID = #{memberId}
            AND CURATION_YN = #{curationYn}
    </select>

    <select id="findProductSubscriptionByMemberId" parameterType="SubscriptionVO">
        SELECT ID,
               START_DATE,
               END_DATE,
               MEMBER_ID,
               PRODUCT_ID
        FROM SUBSCRIPTION
        WHERE MEMBER_ID = #{memberId}
          AND CURATION_YN = 'N'
          AND PRODUCT_ID = #{productId}
          AND END_DATE IS NULL
    </select>

    <select id="findSubsCntByMemberId" parameterType="String">
        SELECT COUNT(*)
        FROM SUBSCRIPTION
        WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="findAllProductSubscription" resultType="SubscriptionVO">
        SELECT s.ID,
               s.START_DATE,
               s.END_DATE,
               s.MEMBER_ID,
               s.PRODUCT_ID,
               m.BILLINGKEY
        FROM SUBSCRIPTION s
        JOIN MEMBER m
        ON m.ID = s.MEMBER_ID
        WHERE s.CURATION_YN = 'N'
          AND s.END_DATE IS NULL;
    </select>

</mapper>